<?xml version="1.0"?>
<configuration>
  <system.web>

    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServerBeh" Overwrite="TRUE" OverwriteInChildScopes="TRUE">
          <useRequestHeadersForMetadataAddress/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceMetadata />
          <serviceThrottling maxConcurrentCalls="10" maxConcurrentInstances="10" maxConcurrentSessions="10"/>&gt;
                </behavior>
        <behavior>
         
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="newBind" listenBacklog="5"
          portSharingEnabled="true">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    
    <services>
      <service behaviorConfiguration="ServerBeh" name="Server.Server">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="newBind"
          contract="Server.IChat" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://176.36.131.233:7780" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>